.post
  include smiley
  .header
    h1.title 
      a(href='/posts/#{post.titleToUri()}') #{post.title}
    .meta
      p
        | Written
        span.post-date &nbsp;#{post.ago()}
        | &nbsp;/
        a(href='/posts/#{post.titleToUri(true)}') &nbsp;#{post.howManyComments()}
  .body
    != post.body